#tempo{
    display:flex; 
    flex-wrap: wrap;
    justify-content: center;
    width:90%;
}

.flex-item{
    position:relative;
    width:25%;
    padding:15px;
}

img{
    width:100%;
}

.p1 {
    background-color: #B2924D; 
    color:white;
    width:50%;
    position:absolute;
    left:15px;
    top:15px;
}

h2 {
    color:#9FAF3A 
}